body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 50px;
	box-sizing: border-box;
	transition: .3s;
}

nav.black {
	background-color: rgba(0,0,0,0.9);
	height: 100px;
	padding: 10px 50px;
}

nav .logo {
	padding: 10px 20px;
	height: 80px;
	float: left;
	font-size: 20px;
	transition: .3s;
}

nav.black .logo {
	color: #fff;
}

nav ul {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	line-height: 80px;
	color: #151515;
	padding: 12px 28px;
	text-decoration: none;
	text-transform: none;
	transition: .3s;
}

nav.black ul li a {
	color: #fff;
}

nav ul li a:focus {
	outline: none;
}

nav ul a.active {
	text-decoration: none;
	margin: 20px;
	padding: 10px 5px 5px 10px;
	width: 40px;
	height: 20px;
	font-size: 10px;
	background: #E2472F;
	color: #fff;
	border-radius: 6px; 	
}

section.sec1 {
	width: 100%;
	height: 90vh;
	background-image: url("http://www.daarts.or.kr/store2/streaming/2015/8/10/%EA%B3%A0%EA%B3%A4%EC%9D%98%EC%84%A0%EB%AC%BC_2009_p_08.jpg");
	background-size: cover;
	background-position: center;
}


section.sec2 {
	width: 100%;
	height: 70vh;
	background-color: #ebebeb;
	display: flex;
	justify-content: space-around;
}

section.sec2 .sec2__state {
	width: 180px;
	height: 100%;
	/*background-color: skyblue;*/
	margin-left: 20px;
	text-align: center;
	padding-top: 100px;
}

section.sec2 .sec2__state .title {
	font-size: 23px;
}

section.sec2 .sec2__state .point {
	font-size: 30px;
	font-weight: 900;
}

section.sec2 .sec2__onair1 {
	margin: 40px;
	width: 180px;
	height: 350px;
	background-color: skyblue;
}

section.sec2 .sec2__onair2 {
	margin: 40px;
	width: 180px;
	height: 350px;
	background-color: skyblue;
}

section.sec2 .sec2__onair3 {
	margin: 40px;
	width: 180px;
	height: 350px;
	background-color: skyblue;
}

section.sec2 .sec2__onair4 {
	margin: 40px;
	width: 180px;
	height: 350px;
	background-color: skyblue;
}

section.sec2 .sec2__state .extra {
	font-size: 50px;
	color: gray;
}

section.sec2 .sec2__state .all {
	margin-top: 20px;
	width: 180px;
	height: 40px;
	border: 1px solid black;
	padding-top: 15px;
}

section.sec2 .sec2__state .all .box {
	margin-right: 30px;
}

section

.content {
	margin-top: 80px;
}

.content p {
	width: 900px;
	margin: 30px auto;
	text-align: justify;
	font-size: 20px;
	line-height: 30px;
}