{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/petter.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<script
	  src="https://code.jquery.com/jquery-3.3.1.js"
	  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	  crossorigin="anonymous">
  	</script>
  	<script type="text/javascript">
  		$(window).on('scroll', function() {
  			if($(window).scrollTop()){
  				$('nav').addClass('black');
  			}
  			else {
  				$('nav').removeClass('black');
  			}
  		})
  	</script>

	<title></title>
</head>
<body>
	<div class="wrapper">
		<nav>
			<div class="logo">peter<br>sheppard</div>
			<ul>
        {% for show in shows %}
          {% if show %}
 				  <li><a href="#">{{ show }}</a></li>
          {% endif %}
        {% endfor %}
				<li><a href="#">teamB</a></li>
				<li><a href="#">teamC</a></li>
				<li><a href="#">teamD</a></li>
				<li><a href="#">teamE</a></li>
				<li><a href="#">teamF</a></li>
				<li><a href="#">teamG</a></li>
				<li><a href="#">teamH</a></li>
				<!-- <li><a href="#">CONTACT</a></li> -->

				<a class="active" href="#">LOG IN</a>
			</ul>
		</nav>
		<section class="sec1"></section>
		<section class="sec2">
			<div class="sec2__state">
				<span class="title">Program</span><br>
				<span class="point">공연&전시</span>
				<div class="extra">< ></div>
				<div class="all">
					<span>공연 전체보기</span>  <span class="plus">+</span>
				</div>
			</div>
			<div class="sec2__onair1"></div>
			<div class="sec2__onair2"></div>
			<div class="sec2__onair3"></div>
			<div class="sec2__onair4"></div>
		</section>
		<section class="content">

		</section>
	</div>
</body>
</html>